html{
    background-color: teal;
}

#title{
    border-radius: 15px;
    background-color: gold;
    color: red;
    text-align: center;
    margin: 5px;
    padding: 15px;
}

#subtitle{
    border-radius: 15px;
    background-color: magenta;
    color: white;
    text-align: center;
    margin: 5px;
    padding: 20px;
}

.shut-up{
    font-size: 300%;
    text-align: center;
}