body {
    background-color: #1d3557;
    margin: 0px;
}

#header {
    border: 2px solid #a8dadc;
    background-color: #457b9d;
    border-radius: 5px;
    width: 80vw;
    position: absolute;
    left: 10%;
}

.header {
    color: #f1faee;
    text-align: center;
}
